run = "npm start"
entrypoint = "server.js"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio" 